html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a:hover {
    color: #ab47bc;
}

.bi-diagram-node {
    width: 360px;
}

.hide {
    visibility: hidden;
}

.loginMessage {
    display: flex;
    align-items: center;
    justify-content: center;
    color:red;
    font-size: 15px;
    margin-top: -10px;
}
