.container {
  min-height: 100vh;
  min-width: 100vw;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
    display: flex;
    flex-grow: 1;
    height: 100vh;
}

.container {
    font-size: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
  width: 100%;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.2rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}
