.main {
    background: #c57fd0;
    border-radius: 5px;
    box-shadow: 12px 12px 12px rgb(0 0 0 / 20%);
}

.inputs {
    display: flex;
    justify-content: center;
}

.node {
    display: flex;
    justify-content: flex-end;
}

.outputs {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}

.text {
    display: grid;
    justify-content: center;
    align-items: center;
}
